cinnamon*
*torrent*
/lazy-lock.json
gtk*/
neofetch/
google-chrome/
caja/
Code/
cache/
Cache/
autostart/
blender/4.5/config/platform_support.txt
cinnamon/
dconf/
enchant/
evolution/
menus/
nemo/
pulse/
xed/
yelp/
QtProject.conf
X-Cinnamon-xdg-terminals.list
libreoffice/
